*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#calculator-display {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.display-item {
    color: white;
    font-size: 5vw;
}

.itemBtn {
    width: 5vw;
    height: 5vw;
    margin: 0.2vw;
    border-radius: 50%;
    font-size: 2vw;
    background: #56545499;
    color: white;
    border: none;
}
